{% extends "layout.jinja2" %}

{% block content %}
<div class="container">
	<!-- Jumbotron -->
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">Welcome to the Smartcities Project</h1>
			<p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
		</div>
	</div>
	
	<!-- Card Grid -->
	<div class="row">
		<div class="col">
			<div class="card text-white bg-dark">
				<img class="card-img-top" src="{{request.static_url('server:static/cities.jpg')}}" alt="Cities">
				<div class="card-body">
					<h5 class="card-title">Cities</h5>
					<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
					<a href="{{'cities'|route_url}}" class="btn btn-primary">Learn more...</a>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card text-white bg-success">
				<img class="card-img-top" src="{{request.static_url('server:static/projects.jpg')}}" alt="Projects">
				<div class="card-body">
					<h5 class="card-title">Projects</h5>
					<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
					<a href="{{'projects'|route_url}}" class="btn btn-primary">Learn more...</a>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card text-white bg-danger">
				<img class="card-img-top" src="{{request.static_url('server:static/finance.jpg')}}" alt="Finance">
				<div class="card-body">
					<h5 class="card-title">Finance</h5>
					<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
					<a href="#" class="btn btn-primary">Learn more...</a>
				</div>
			</div>
		</div>
		<!-- <div class="col">
			<div class="card text-white bg-info">
				<img class="card-img-top" src="{{request.static_url('server:static/governance.jpg')}}" alt="Governance">
				<div class="card-body">
					<h5 class="card-title">Governance</h5>
					<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
					<a href="#" class="btn btn-primary">Learn more...</a>
				</div>
			</div>
		</div> -->
	</div>
</div>
{% endblock content %}
